{% extends 'base.html.twig' %}

{% block title 'Agence zobat'%}

{% block body %}
    <div class="jumbotron text-center">
        <h3>Bienvenue sur la homepage</h3>
        <p>Lorem test ispum</p>
    </div>
{% endblock %}